/* General */
html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  background-color: #3c3c3c;
}

/* Main content area */
main {
    padding-bottom: 15%;
}

canvas {
    display: block;
}

.canvas_container {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
